
  body {
    
    background-image: url('Imagenes/Fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20;
  }
  
  .form-register {
    width: 600px;
    background: #24303c;
    padding: 60px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #815f00;
  }


  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f7c02c;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #f7c02c;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }